{% extends 'registration/base.html' %}

{% block title %} {% block title-meta %}
لیست مقالات
{% endblock %} {% endblock %}

{% block main %}
<div class="row">
    <div class="col-12">
      <div class="card">
        <!-- <div class="card-header">
          <h3 class="card-title">Responsive Hover Table</h3>
        </div> -->
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>عنوان مقاله</th>
                <th>User</th>
                <th>Date</th>
                <th>Status</th>
                <th>Reason</th>
              </tr>
            </thead>
            <tbody>
              {% for article in object_list %}
              <tr>
                <td>{{article.title}}</td>
                <td></td>
                <td>11-7-2014</td>
                <td><span class="tag tag-success">Approved</span></td>
                <td>Bacon</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>
{% endblock %}